


@media screen and (min-width: 660px) {
	
	/*Two colom layout (pentrr pagina de contact)*/
	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right; 
	}
	/*  
	4 * 5 =20%
	100% - 20% = 80%
	80 / 4 = 20% */

	/*Page CARS*/
	

	.imglist {
		width: 50%;
		padding: 0;
		margin: 0;
		float: left;
			
	}

	.textlist {
		width: 49%;
		float: right;
		padding: 0 0 0 1%;
		margin: 0;
		
	}
	/* HEADING */
	header {
		border-bottom: 10px solid #ff847b;
		font-size: 0.8em;
		padding: 20px 0 0 0;

	}
	header nav {
		background-color: #ec625f;
		float: right;
		font-size: 1.4em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
		
	}
	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%
	}
	#logo h1 {
		margin: 0;
		padding: 0;
	}
	.titlelist h2:hover {
		color: #999;
	}

	/* PAGE: ABOUT*/
	
	#aboutimg {
		float: left;
		margin: 0 0% 80px 0;
		width: 20%;
	}
	#abouttext {
		width: 70%;
		float: right;
		margin: 0;
		padding-left: 0;
		
	}


}


@media screen and (max-width: 820px) {
	header nav {
		font-size: 1em;
	}
}
